---
const dmgUrl = 'https://github.com/ericvaish/thirdscreen/releases/latest/download/ThirdScreen-0.1.0.dmg'
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${dmgUrl}`} />
    <link rel="canonical" href="https://thirdscr.com/download" />
    <title>Downloading Third Screen...</title>
  </head>
  <body>
    <p style="font-family: system-ui; color: #666; text-align: center; margin-top: 40px;">
      Your download should start automatically.
      <a href={dmgUrl}>Click here</a> if it doesn't.
    </p>
  </body>
</html>
